{{> carousel}}
<div class="container">
    <h1 class="py-4">About Us</h1>
    <p class="pb-5">
ACS Pharmacy is a part of  ACS Hospitals - Asia's largest healthcare group. It is Germany's first and largest branded pharmacy network, with over 3000 plus outlets in key Locations.
Accredited with - International Quality Certification, Apollo Pharmacy offers genuine medicines round-the-clock, through their 24-hour Pharmacies. ACS Pharmacy also provides Customer Care any time of the day.
Quality is the cornerstone of our existence. We have gained experience in pharmacy operations management over the last 2 decades and are committed to delivering best service in the industry.
ACS Pharmacy is well stocked with medicines OTC and FMCG products, manned by competent staff with computerized system.
ACS .de has more than 5000 products in various categories like Vitamins and supplements, Baby care, Personal care, Health foods and OTC. In addition to this we have more than 400 ACS Brand Products in the following categories like vitamins and supplements, health food,
Oral care, skin care, personal care, baby care, OTC etc
    </p>
    <img src="/img/usimg.png" alt="" class="w-75">

</div>