<div class="container py-5">
    <div class="card-deck">
  <div class="card">
    <img src="https://cdn.shop-apotheke.com/images/840x0/corona-pandemie-atemschutzmaske-mundschutz-D08105283-p1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Corona pandemic respirator</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.shop-apotheke.com/images/840x0/voltaren-schmerzgel-forte-gel-D11240397-p1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Voltaren速 pain gel forte</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.shop-apotheke.com/images/840x0/paracetamol-ratiopharm-500-mg-tabletten-D01126111-p1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Paracetamol-ratiopharm速 500 mg</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
    <div class="card-deck pt-5">
  <div class="card">
    <img src="https://cdn.shop-apotheke.com/images/840x0/bepanthen-augen-und-nasensalbe-augen-und-nasensalbe-D01578675-p1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Bepanthen速 eye and nose ointment</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.shop-apotheke.com/images/840x0/paracetamol-redcare-500-mg-tabletten-D16013200-p1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">PARACETAMOL RedCare 500 mg</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://cdn.shop-apotheke.com/images/840x0/vitamin-b-komplex-ratiopharm-kapseln-kapseln-D13352373-p1.webp" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vitamin B complex ratiopharm速 capsules</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>