<div class="container">
    <div class="card bg-dark text-center text-success" style=" padding:30px;margin:0 auto;">
       <b >
           <h1 class="text-success text-center alert alert-success m-auto p-5 ;" style="height: 400px;"> Your Email verified successfully
               <br>
               <p class="p-5"> Thank you for your message</p><br>
               <p class="p-2"> Visit Us Soon .....</p><br>
               <p class="p-2"> Our Address is: musterstreert 33,56565 Mustercity </p><br>
                <p class="p-2"> Our Website :<a href="/">ACS Apotheka </a></p><br>

           </h1>
            
       </b>
    </div>
</div>
<br>
<br>
